:root {
  --clr-black: #000000;
  --clr-white: #FFFFFF;
  --clr-white-opacity: #ffffffa2;
  --clr-dark-blue: #13163D;
  --clr-blue: #3B199C;
  --clr-gray-blue: #4950AE;
  --clr-light-blue: #8F95EE;
  --clr-purple-gradient: rgb(128, 64, 255);
  --clr-blue-gradient: rgb(8, 186, 254);
  --clr-red: #e24040;
  --clr-green: #44C651;
}

body {
  font-family: "Nunito", sans-serif;
}